body {
  margin: 0;
  overflow: hidden;
}
.row {
  width: 200%;
}
.grid {
  position: absolute;
}
.hidden {
  display: none;
}
.cell {
  width: 4em;
  height: 4em;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
}
.cell > div {
  width: 4em;
  height: 4em;
  border-radius: 100%;
  position: absolute;
}
.cell > div:first-of-type {
  top: -2em;
  left: -2em;
}
.cell > div:last-of-type {
  bottom: -2em;
  right: -2em;
}
.cell.rot > div:first-of-type {
  left: auto;
  right: -2em;
}
.cell.rot > div:last-of-type {
  right: auto;
  left: -2em;
}
.links {
  position: absolute;
  background: white;
  bottom: 0;
  padding: .5rem;
}
.links a {
  color: black;
  margin: 0 .125em;
}
.links > * {
  margin: 0;
  font-family: sans-serif;
}