.license {
  position: fixed;
  right: .5rem;
  bottom: .5rem;
}

.license-tooltip {
  display: none;
  position: absolute;
  width: 38rem;
  right: 0;
  padding: .5rem;
  border-radius: .5rem;
  top: -2.5rem;
  background: white;
}

.license:hover .license-tooltip {
  display: block;
}