body {
  margin: 0;
  overflow: hidden;
}

.row {
  width: 200%;
}

.grid {
  position: absolute;
}

.hidden {
  display: none;
}

.cell {
  width: 4em;
  height: 4em;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
}

.component {
  width: 4em;
  height: 4em;
  border-radius: 100%;
  position: absolute;
}

.a {
  top: -2em;
  left: -2em;
}

.b {
  bottom: -2em;
  right: -2em;
}

.d {
  top: -2em;
  right: -2em;
}

.e {
  bottom: -2em;
  left: -2em;
}